---
import { Image } from 'astro:assets';
import ingenieros from '../images/pareja-hablando-ingles.webp';
const cards = [
  {
    icon: '/mision.svg',
    title: 'Misión',
    text: 'Ayudar a las empresas a mejorar su comunicación global a través de un aprendizaje del inglés efectivo y personalizado.'
  },
  {
    icon: '/vision.svg',
    title: 'Visión',
    text: 'Todo nuestro personal cuenta con licenciatura en ensenanza y un sin fin de certificaciones internacionales'
  },
  {
    icon: '/valores.svg',
    title: 'Valores',
    text: 'Nuestro enfoque es 100% comunicativo. Ya basta de largas sesiones de clases gramaticales'
  },
];
---
<section class="grid grid-cols-1 md:grid-cols-2 items-center max-w-6xl mx-auto px-5 pt-10 relative gap-10 md:gap-20 -mb-10">
    <div class="relative hidden md:block">
        <img src="/halftone.svg" alt="Medio tono" class="absolute top-5 left-0 z-0">
        <img src="/elipse3.svg" alt="elipse" class="absolute -bottom-10 -right-10 z-0">
        <Image class:list={["w-full h-auto relative z-10"]} src={ingenieros} loading="lazy" alt="Ingenieros" />
    </div>
    <div class="space-y-5">
        <h5>Comunicación efectiva</h5>
        <p>
            Las necesidades de tus empleados son tus necesidades.
            Platícanos de ellas y personaliza tus cursos para prepararte a ti y a todo tu personal.
        </p>
    </div>
    <div class="relative block md:hidden">
        <img src="/halftone.svg" alt="Medio tono" class="absolute top-5 left-0 z-0">
        <img src="/elipse3.svg" alt="elipse" class="absolute -bottom-10 -right-10 z-0">
        <Image class:list={["w-full h-auto relative z-10"]} src={ingenieros} loading="lazy" alt="Ingenieros" />
    </div>
</section>
<section class="max-w-6xl mx-auto px-5 pt-10 md:pt-0 md:pb-10 relative">
    <img src="/halftone.svg" alt="Medio tono" class="absolute top-5 -right-16 z-0">
    <img src="/elipse3.svg" alt="elipse" class="absolute -bottom-5 -left-16 z-0">
    <div class="px-6 py-10 md:pt-20 md:pb-56 bg-gradient-to-r from-red-800 to-slate-800 rounded-4xl space-y-5 relative z-10">
        <h4 class="text-center">Herramientas comunicativas</h4>
        <div class="text-center text-white text-lg">
            Nuestros cursos están diseñados para trabajar en tu fluidez y rendimiento, mientras te proporcionamos las herramientas comunicativas para mejorar en tu profesión.
        </div>
    </div>
    <div class="md:absolute -bottom-20 mx-auto w-full z-20 px-5 md:px-20 pt-10 md:pt-0 md:mb-10 inset-x-0">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-10">
            {cards.map(card => (
                <figure class="bg-white shadow-xl rounded-2xl p-6 text-center relative z-10">
                    <img src={card.icon} alt={card.title} class="h-14 mx-auto mb-4" />
                    <h3 class="text-xl font-semibold mb-2">{card.title}</h3>
                    <p class="text-gray-600">{card.text}</p>
                </figure>
            ))}
        </div>
    </div>
</section>